<div class="row justify-content-center mt-4">
    <div class="col-md-8 text-start">
        <h2>Mocha</h2>
        <p>
            Nuestro modelo de franquicia está orientado a quienes buscan una fuente de autoempleo y desean tener su propio emprendimiento familiar, o para aquellos que desean desarrollar una microempresa mediante una red de sucursales en una zona de exclusividad.
        </p>
        <p>
            Envianos tu CV rellenando tus datos haciendo <span class="highlighted-text" id="trigger-modal" data-bs-toggle="modal" data-bs-target="#contactModalNovedades"> ► Click Aqui ◄ </span>
        </p>                                                                
        <h4>¿Qué nos hace diferentes?</h4>
        <ul>
            <li>Trabajamos en un ámbito familiar y profesional en todo momento, desde el primer contacto hasta la operación y administración de la franquicia.</li>
            <li>Nuestro producto es artesanal, cuidado en cada proceso, con la elección cuidadosa de las materias primas.</li>
            <li>Tenemos una capacidad de producción con altos estándares de calidad, cumpliendo con normas internacionales de seguridad e inocuidad alimentaria.</li>
            <li>Ofrecemos apoyo para el crecimiento de nuestros franquiciados, con un acompañamiento comercial y programas de capacitación para la mejora continua.</li>
            <li>Además, contamos con locales propios, lo que nos aporta información confiable a través de nuestros tableros de control.</li>
        </ul>
    </div>
</div>