<h4 id="Batidos">Batidos</h4>
<ul>
    <li title="Delicioso y refrescante, lleno del dulce sabor de las frutillas.">Licuado de frutillas</li>
    <li title="Suave y cremoso, ideal para cualquier momento del día.">Licuado de Banana</li>
    <li title="Exótico y dulce, con todo el sabor tropical del mango.">Licuado de Mango</li>
    <li title="Refrescante y saludable, con el sabor único de la papaya.">Licuado de Papaya</li>
    <li title="Una combinación perfecta de frutas frescas para un sabor equilibrado.">Licuado de Frutas Mixtas</li>
    <li title="El placer cremoso del chocolate en un licuado irresistible.">Licuado de Chocolate</li>
    <li title="Exótico y ligeramente ácido, lleno de vitamina C.">Licuado de Kiwi</li>
    <li title="Refrescante y dulce, con todo el sabor del melón.">Licuado de Melón</li>
    <li title="Dulce y afrutado, con un toque ácido de las moras.">Licuado de Mora</li>
</ul>