<h4 id="Chocolate">Chocolates</h4>
<ul>
    <li title="Delicioso mousse de chocolate, suave y esponjoso.">Mousse de Chocolate</li>
    <li title="Chocolate amargo, con un sabor profundo y rico.">Chocolate Amargo (Bariloche)</li>
    <li title="Chocolate relleno, un placer doble con cada bocado.">Chocolate Relleno</li>
    <li title="Chocolate con pasas al rhum, una combinación única.">Chocolate con Pasas al Rhum</li>
    <li title="Un dulce clásico de Argentina, cremoso y delicioso.">Chocolate Marroc</li>
    <li title="Exquisito chocolate con avellanas trituradas.">Chocolate Rocher</li>
    <li title="Suave y cremoso chocolate blanco.">Chocolate Blanco</li>
    <li title="Chocolate Kinder, ideal para los pequeños.">Chocolate Kinder (Blanco)</li>
</ul>       