<h4 id="Cremas Clasicas">Cremas Clasicas</h4>
<ul>
    <li title="Cereza combinada con crema, un sabor delicioso.">Cereza a la Crema</li>
    <li title="Helado cremoso de frutilla, suave y refrescante.">Frutilla a la Crema</li>
    <li title="Helado especial de frutilla con un toque extra de sabor.">Frutilla a la Reina</li>
    <li title="Deliciosa mezcla de frutos rojos y arándanos.">Frutos del Bosque (Arándanos)</li>
    <li title="Helado de banana con salsa de chocolate.">Banana Split</li>
    <li title="Banana combinada con crema.">Banana a la Crema</li>
    <li title="Exquisito mousse de maracuyá, ácido y dulce.">Mousse de Maracuyá</li>
    <li title="Mousse de limón, ligero y refrescante.">Mousse de Limón</li>
    <li title="Quinotos al whisky, un postre audaz y refrescante.">Quinotos al Whisky</li>
</ul>