<h4 id="Cremas Varias">Cremas Varias</h4>
<ul>
    <li title="Clásico helado de crema americana.">Crema Americana</li>
    <li title="Suave crema de vainilla.">Crema de Vainilla</li>
    <li title="Helado de color azul cielo, dulce y cremoso.">Crema del Cielo</li>
    <li title="Helado de flan combinado con dulce de leche.">Crema Flan con Dulce de Leche</li>
    <li title="Suave crema de almendras, deliciosa y cremosa.">Crema de Almendras</li>
    <li title="Crema rusa, un helado suave y delicioso.">Crema Rusa</li>
    <li title="Helado granizado con trozos de chocolate.">Granizado</li>
    <li title="Helado de menta con granizado de chocolate.">Menta Granizada</li>
    <li title="Helado con Oreo y dulce de leche, lleno de sabor.">América con Oreo y Dulce de Leche</li>
    <li title="Helado sabor Mantecol, un clásico argentino.">Mantecol</li>
    <li title="Mascarpone combinado con frutos rojos.">Mascarpone con Frutos Rojos</li>
    <li title="Helado de sambayón, suave y cremoso.">Sambayón</li>
    <li title="Helado cremoso con una mezcla única de sabores.">Tramontana</li>
    <li title="Helado de tiramisú, con todo el sabor del clásico postre italiano.">Tiramisú</li>
</ul>