<h4 id="Dulce de Leche">Dulce de Leche</h4>
<ul>
    <li title="El clásico sabor de dulce de leche, dulce y cremoso.">Dulce de Leche</li>
    <li title="Dulce de leche con pedazos de chocolate crujiente.">Dulce de Leche Granizado</li>
    <li title="Dulce de leche con una textura aún más cremosa.">Dulce de Leche Super</li>
    <li title="Dulce de leche cubierto de chocolate.">Dulce de Leche Bombón</li>
    <li title="Dulce de leche combinado con crujientes almendras.">Dulce de Leche con Almendras</li>
</ul>