<div class="col-md-6">
    <img src="https://firebasestorage.googleapis.com/v0/b/mocha-f0ceb.appspot.com/o/lugar%2Fnosotros.png?alt=media&token=df074452-a3ac-4899-aea7-3760f0fa8982" alt="helados mocha" class="img-fluid rounded">
</div>

<div class="col-md-6">
    <h2 class="nuestra-historia-titulo">Nuestra Historia</h2>
    <p class="nuestra-historia-texto">
        Mocha nació en el corazón de Nueva Pompeya, un querido barrio del <span>sur de la ciudad</span>, donde las calles tienen historias y amistades de toda la vida. 
    </p>
    <p class="nuestra-historia-texto">
        Su visión se forjó en una pequeña heladería, donde cada verano se disfrutaba del <span>arte del helado artesanal</span> entre risas y charlas vecinales. Con la meta de ofrecer helados accesibles y de alta calidad, Mocha se convirtió en un espacio de amistad y gratitud hacia la comunidad.
    </p>
    <p class="nuestra-historia-texto">
        En <span>1978</span>, abrió su primera heladería en el garage familiar, manteniendo un nombre sencillo y auténtico. Rápidamente se transformó en un lugar de encuentro, donde la calidad y los <span>nuevos sabores</span> conquistaron el corazón de los vecinos.
    </p>
    <p class="nuestra-historia-texto">
        Actualmente, Mocha tiene dos locales en Av. Sáenz: <span>1069</span> <span>y</span> <span>Av. Sáenz: 715</span>, en <span>Buenos Aires (CABA)</span>, continuando su tradición de compartir el amor por el helado con la comunidad.
    </p>                                                            
</div>