<!DOCTYPE html>
<html lang="es">

    <!-- #region head -->
    {% include "partials/layout/_headPedidos.html" %}
    <!-- #endregion -->

    <body>
        <!-- #region Navbar -->
        {% include "partials/_navbar.html" %}
        <!-- #endregion -->

        <!-- #region Página de Pedidos -->
        {% include "components/pedidos/pedirTuPedido.html" %}
        <!-- #endregion -->
        
        <!-- #region Footer -->
        {% include "partials/_footer.html" %}
        <!-- #endregion -->

        <!-- #region Bootstrap JS -->
        {% include "partials/scripts/boostrapJsPedidos.html" %}
        <!-- #endregion -->
    </body>
</html>
