<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Datos de la franquicia
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionMocha">
        <div class="accordion-body">
            <strong>Nombre comercial:</strong> Mocha<br>
            <strong>Año de fundación:</strong> 1980<br>
            <strong>Constitución de la primera franquicia:</strong> 2000<br>
            <strong>Locales propios:</strong> 2<br>
            <strong>Locales franquiciados en operación:</strong> 2
        </div>
    </div>
</div>