<div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/mocha-f0ceb.appspot.com/o/galeria%2Fpromociones%2Fcucuruchos%20sueltos.jpeg?alt=media&token=51f509ba-993b-4e1b-8739-88d4bd4a40b0" class="card-img-top" alt="Promo 4">
        <div class="card-body">
            <h5 class="card-title">Promo Cucuruchos 3 x $700</h5>
            <p class="card-text">Válido de Lunes a domingo solo en sucursales adheridas.</p>
        </div>
    </div>
</div>