<h4 id="palitosHelados">Palitos de Helados</h4>
<ul>
    <!-- Palitos de Agua -->
    <li title="Un clásico sabor dulce y refrescante a fresas frescas.">Frutilla</li>
    <li title="Sabor intenso y afrutado con un toque a uva madura.">Uva</li>
    <li title="Refrescante, tropical, con un suave toque ácido.">Ananá (piña)</li>
    <li title="Agrio y refrescante, ideal para los días calurosos.">Limón</li>
    <li title="Dulce y ligeramente cítrico, muy refrescante.">Naranja</li>
    <li title="Suave sabor a manzana verde, con un toque dulce y ácido.">Manzana</li>
    <li title="Dulce y jugoso, con un sabor afrutado y suave.">Durazno (melocotón)</li>
    
    <!-- Otros Helados (Bombones de Helado) -->
    <li title="Crema helada cubierta con una capa gruesa de chocolate crocante.">Bombón Helado de Chocolate</li>
    <li title="Helado de crema bañado en chocolate con trozos de almendra o avellana.">Bombón Suizo</li>
    <li title="Cremoso helado con sabor a dulce de leche cubierto de chocolate.">Helado de Dulce de Leche</li>
    <li title="Helado de frutilla cubierto con una capa de chocolate blanco.">Bombón de Frutilla</li>
    <li title="Postre de crema con frutas y una fina capa de chocolate.">Copa Jamaica</li>
    <li title="Versión helada del clásico alfajor, con relleno de dulce de leche o crema.">Alfajor Helado</li>
</ul>